<select data-choose-theme class="select select-bordered select-sm w-32 text-xs">
  <option value="">Theme</option>
  <option value="dark">Dark</option>
  <option value="light">Light</option>
  <option value="corporate">Corporate</option>
  <option value="synthwave">Synthwave</option>
  <option value="cyberpunk">Cyberpunk</option>
  <option value="forest">Forest</option>
  <option value="dracula">Dracula</option>
  <option value="night">Night</option>
  <option value="nord">Nord</option>
  <option value="dim">Dim</option>
  <option value="sunset">Sunset</option>
</select>
